
h1 {
    color: rgb(107, 16, 80);
    font-family: "Lato", sans-serif;
  }
  
  h2 {
    color: darkgrey;
    font-family: "Lato", sans-serif;
  }
  
  p {
    color: rgb(107, 16, 80);
    font-size: 12pt;
    font-family: "Lato", sans-serif;
  }

  a {
    color: rgb(107, 16, 80);
    font-size: 12pt;
    font-family: "Lato", sans-serif;
  }
  
  table {
    margin: 20px;
  }
  img {
    filter: drop-shadow(4px 4px 5px gray);
  }

  .headTh
  {
    margin-top: 20px;
    margin-left: 20px;
    margin-bottom: 20px;
    margin-right: 20px;
    padding: 5px;
    color: white;
    background-color: rgba(107, 16, 80, 0.5);
    font-size: 10pt;
    font-family: "Lato", sans-serif;
  }
  .bottomTh
  {
    margin-top: 20px;
    margin-left: 20px;
    margin-bottom: 20px;
    margin-right: 20px;
    padding: 5px;
    color: black;
    font-size: 12pt;
    font-family: "Lato", sans-serif;
  }
  
  tr {
    margin-top: 20px;
    margin-left: 20px;
    margin-bottom: 20px;
    margin-right: 20px;
    padding: 5px;
    background-color: rgba(107, 16, 80, 0.1);
    font-family: "Lato", sans-serif;
  }
  td {
    margin-top: 20px;
    margin-left: 20px;
    margin-bottom: 20px;
    margin-right: 20px;
    padding: 5px;
    font-family: "Lato", sans-serif;
  }
  .appcont {
    position: relative;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    width: 400px;
    border-color: rgb(107, 16, 80);
    border-width: 1px;
    border-style: solid;
    background-color: rgba(134, 37, 102, 0.1);
  }

  .citydiv {
    text-align: center;
    font-family: "Lato", sans-serif;
    color: black;
    padding: 5px;
    font-size: 34px;
  }
  .tempdiv {
    text-align: center;
    font-family: "Lato", sans-serif;
    color: black;
    padding: 5px;
    font-size: 34px;
  }
  
  .tab1 {
    margin-top: 20px;
    margin-left: 20px;
    margin-bottom: 20px;
    margin-right: 20px;
    padding: 5px;
    background-color: rgba(107, 16, 80, 0.1);
    font-family: "Lato", sans-serif;
  }


  .timediv {
    position: relative;
    margin-top: 0px;
    margin-left: 0px;
    padding: 5px;
    background-color: rgba(107, 16, 80, 0.1);
    font-family: "Lato", sans-serif;
  }
  .searchBtn {
      background-color: rgba(107, 16, 80, 0.8);
      border-radius: 20px;
      border: none;
      color: white;
      padding: 10px;
      text-align: center;
      text-decoration: none;
      font-size: 12px;
      font-family: "Lato", sans-serif;
  }
  .searchBtn:hover {
      background-color: rgba(107, 16, 80, 0.3);
      border-radius: 20px;
      border: none;
      color: white;
      padding: 10px;
      text-align: center;
      text-decoration: none;
      font-size: 12px;
      font-family: "Lato", sans-serif;
  }
  .searchInput {
      background-color: white;
      border-radius: 20px;
      border: none;
      color: rgb(107, 16, 80);
      font-family: "Lato", sans-serif; 
      padding: 10px;
      text-align: left;
      text-decoration: none;
      font-size: 12px;
      width: 40%;
  }
  .tempBtn {
      background-color: rgba(107, 16, 80, 0.3);
      border-radius: 20px;
      border: none;
      font-family: "Lato", sans-serif;
      color: white;
      padding: 10px;
      text-align: center;
      text-decoration: none;
      font-size: 12px;
  }
  .tempBtn:hover {
      background-color: rgba(107, 16, 80, 0.8);
      border-radius: 20px;
      border: none;
      font-family: "Lato", sans-serif;
      color: white;
      padding: 10px;
      text-align: center;
      text-decoration: none;
      font-size: 12px;
  }
  .currTempBtn {
      background-color: rgba(107, 16, 80, 0.8);
      border-radius: 20px;
      font-family: "Lato", sans-serif;
      border: none;
      color: white;
      padding: 10px;
      text-align: center;
      text-decoration: none;
      font-size: 12px;
  }
  .currTempBtn:hover {
      background-color: rgba(107, 16, 80, 0.3);
      border-radius: 20px;
      font-family: "Lato", sans-serif;
      border: none;
      color: white;
      padding: 10px;
      text-align: center;
      text-decoration: none;
      font-size: 12px;
  }

  